### Web Scraping

#### import packages

In [2]:
# import requests and beautifulSoup
import requests
from bs4 import BeautifulSoup

In [39]:
 # HTML String
html_string = """
<!DOCTYPE html>
<html>
<head>
<title>My Table from W3 SChools</title>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>
<p id="author">Author: LASETTI VINAY</p>
<p id="description">This course will help you to perform various data science activities using python.</p>
<table id="module">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>
"""

In [40]:
# display HTML string in jupyter notebook
from IPython.core.display import display, HTML
display(HTML(html_string))

In [46]:
# use beautifulSoup
ps = BeautifulSoup(html_string)

In [47]:
# print ps
print(ps)

<!DOCTYPE html>
<html>
<head>
<title>My Table from W3 SChools</title>
<style>
table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}

tr:nth-child(even) {
   background-color: #dddddd;
}
</style>
</head>
<body>
<h2>HTML Table</h2>
<p id="author">Author: LASETTI VINAY</p>
<p id="description">This course will help you to perform various data science activities using python.</p>
<table id="module">
<tr>
<th>Company</th>
<th>Contact</th>
<th>Country</th>
</tr>
<tr>
<td>Alfreds Futterkiste</td>
<td>Maria Anders</td>
<td>Germany</td>
</tr>
<tr>
<td>Centro comercial Moctezuma</td>
<td>Francisco Chang</td>
<td>Mexico</td>
</tr>
<tr>
<td>Ernst Handel</td>
<td>Roland Mendel</td>
<td>Austria</td>
</tr>
<tr>
<td>Island Trading</td>
<td>Helen Bennett</td>
<td>UK</td>
</tr>
<tr>
<td>Laughing Bacchus Winecellars</td>
<td>Yoshi Tannamuri</td>
<td>Canada</td>
</tr>
<tr>
<td>Magazzini Alimentari Riuniti</td>
<td>Giovanni Rovelli</td>
<td>Italy</td>
</tr>
</table>
</body>
</html>

In [48]:
# extract body, use name parameter to select by tage name
body = ps.find(name="body")

In [49]:
print(body)

<body>
<h2>HTML Table</h2>
<p id="author">Author: LASETTI VINAY</p>
<p id="description">This course will help you to perform various data science activities using python.</p>
<table id="module">
<tr>
<th>Company</th>
<th>Contact</th>
<th>Country</th>
</tr>
<tr>
<td>Alfreds Futterkiste</td>
<td>Maria Anders</td>
<td>Germany</td>
</tr>
<tr>
<td>Centro comercial Moctezuma</td>
<td>Francisco Chang</td>
<td>Mexico</td>
</tr>
<tr>
<td>Ernst Handel</td>
<td>Roland Mendel</td>
<td>Austria</td>
</tr>
<tr>
<td>Island Trading</td>
<td>Helen Bennett</td>
<td>UK</td>
</tr>
<tr>
<td>Laughing Bacchus Winecellars</td>
<td>Yoshi Tannamuri</td>
<td>Canada</td>
</tr>
<tr>
<td>Magazzini Alimentari Riuniti</td>
<td>Giovanni Rovelli</td>
<td>Italy</td>
</tr>
</table>
</body>

In [42]:
# use text attribute to get the content of the tag
print(body.find(name="h2").text)

HTML Table

In [17]:
# get first p element
print(body.find(name="p"))

<p>Author: LASETTI VINAY</p>

In [18]:
# get all p elements
print(body.findAll(name="p"))

[<p>Author: LASETTI VINAY</p>, <p>This course will help you to perform various data science activities using python.</p>]

In [24]:
# loop through each p element
for p in body.findAll(name="p"):
    print(p.text)

Author: LASETTI VINAY
This course will help you to perform various data science activities using python.

In [29]:
# add attributes in the selection process
print(body.find(name="p", attrs={"id":"author"}).text)

Author: LASETTI VINAY

In [38]:
# print description
print(body.find(name="p", attrs={"id":"description"}).text)

This course will help you to perform various data science activities using python.

In [58]:
# body
body = ps.find(name="body")
#module table
module_table = body.find(name="table", attrs={"id":"module"})
#iterate through each row in table
for row in module_table.findAll(name="tr")[1:]:
    company = row.findAll(name="td")[0].text
    contact = row.findAll(name="td")[1].text
    country = row.findAll(name="td")[2].text
    print(company+",     ", contact+",     ", country)

Alfreds Futterkiste,      Maria Anders,      Germany
Centro comercial Moctezuma,      Francisco Chang,      Mexico
Ernst Handel,      Roland Mendel,      Austria
Island Trading,      Helen Bennett,      UK
Laughing Bacchus Winecellars,      Yoshi Tannamuri,      Canada
Magazzini Alimentari Riuniti,      Giovanni Rovelli,      Italy